.layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 1rem;
}
.name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.type {
  font-style: italic;
  margin-bottom: 0.5rem;
}
.heading {
  font-style: italic;
  font-weight: bold;
}
.attribute {
  font-weight: bold;
}
.picture {
  max-height: 400px;
}
<<<<<<< HEAD:styles/details.module.css
=======
.pokemonDetails {
  align-items: center;
  height: 100vh;
}

>>>>>>> 236deddbc4b7f264737a89d16bafc5a4fde978c2:styles/Details.module.css
